{% load static %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | tower-defense</title>
    <link rel="shortcut icon" href="{% static "unity/TemplateData/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "unity/TemplateData/style.css" %}">
    <script src="{% static "unity/TemplateData/UnityProgress.js" %}"></script>
    <script src="{% static "unity/Build/UnityLoader.js" %}"></script>
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", "{% static "unity/Build/Build.json" %}", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="unityContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">tower-defense</div>
      </div>
    </div>
  </body>
</html>